#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1{
  margin: 0;
}

h2{
  margin: 10px
}

ul{
  padding:0
}

#main_header{
  background-color: rgb(172, 172, 243);
  
}

.nav_list > li{
  display: inline-block;
}

.nav_list{
  margin:0;
  padding:0;
  
}

.nav_list > li > button{
  padding:10px;
  border: none;
  background: none;
}

.nav_list > li > button:hover{
  padding:10px;
  border: none;
  background-color: aqua;
 
}

.formatted-articles{
  margin:0;
  padding:0;
}



