#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1{
  margin: 0;
}

h2{
  margin: 10px
}

ul{
  padding:0
}

#main_header{
  background-color: rgb(172, 172, 243);
  width: 100%;
  
}

.nav_list > li{
  display: inline-block;
  
}

.nav_btn{
  padding: 10px;
  width:20vw;
  
  
}

.nav_btn :not(:last-child){
  
  border-right: none
  
}

.login{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  
}

.search{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  
}



.nav_list{
  margin:0;
  padding:0;
}

.formatted-articles{
  margin:0;
  padding:0;
}

.formatted-Topics{
  display: flex;
  margin:0;
  padding:0;
  justify-content: space-evenly;
}

.formatted-topic-articles{
  display: inline-block;
  margin:0;
  padding:0;
}

.topic-item{
  border:10px;
  margin:10px 10px 20px;
  border: 3px solid grey;
  border-radius: 10px;
  width:30vw;
}

.formatted-articles{
  display: grid;
  
  height: 80%;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}

.article-name{
  padding:0px
}

.article-card{
  border:10px;
  margin:10px 10px 20px;
  border: 3px solid grey;
  border-radius: 10px;
  width:30vw;
  
}

.article-img{
  height: 20vh;
  width:20vw;
  display:inline-block;
}

/* .article-content{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
} */

.comment-item{
  
  border:10px;
  margin:10px 10px 20px;
  border: 3px solid grey;
  border-radius: 10px;
  width:50vw;
}

.formatted-comments{
  display:inline-block;
}

.user-item{
  border:10px;
  margin:10px 10px 20px;
  border: 3px solid grey;
  border-radius: 10px;
}

.user-item:hover{
border-color: aqua;
}

.display-profile-img{
  
}

.profile-container{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.user-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-img{
  padding:3px;
  width:  30vw;
  height: 30vh;
  object-fit:scale-down;
}


