#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1{
  margin: 0;
}

h2{
  margin: 10px
}

ul{
  padding:0
}

.nav_list > li{
  display: inline-block;
  
}

.nav_btn{
  padding: 10px;
  width:20vw;
}

.topic-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav_list{
  margin:0;
  padding:0;
}

.formatted-articles{
  margin:0;
  padding:0;
}

.formatted-Topics{
  display: flex;
  margin:0;
  padding:0;
  justify-content: space-evenly;
}

.formatted-topic-articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.topic-item{
  border:10px;
  margin:10px 10px 20px;
  border: 3px solid grey;
  border-radius: 10px;
  width:30vw;
}

.formatted-articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.article-name{
  padding:0px
}

.article-card{
  border:10px;
  margin:10px 10px 20px;
  border: 3px solid grey;
  border-radius: 10px;
  width:30vw;
}

.article-img{
  height: 20vh;
  width:20vw;
  display:inline-block;
}

.comment-item{
  
  border:10px;
  margin:10px 10px 20px;
  border: 3px solid grey;
  border-radius: 10px;
  width:50vw;
}

.formatted-comments{
  display:inline-block;
}

.user-item{
  border:10px;
  margin:10px 10px 20px;
  
}

.user-item:hover{
border-color: aqua;
}

.avatar-body{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-container{
  display: flex;
  flex-direction: column;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-img{
  padding:3px;
  width:  30vw;
  height: 30vh;
  object-fit:scale-down;
}


